In [2148]:
import pandas as pd
import numpy as np

In [2149]:
class Die():
    
    # Need to find a way to ensure faces input is either strings or numbers
    def __init__(self, faces):
        for i in faces:
            if type(i) != float and type(i) != int and type(i) != str:
                print("Die must be a list of numbers or strings")
                
        self.faces = faces
        self.weightslist = [1] * len(faces)
        self.die = pd.DataFrame({'face': self.faces,'weights': self.weightslist})
    
    def change_weight(self, j, new_weight):
        if type(new_weight) != float and type(new_weight) != int:
            print('This is not a valid weight')
        elif type(new_weight) == float or type(new_weight) == int:
            if j in self.faces:
                index_finder = self.faces.index(j)
                self.weightslist[index_finder] = new_weight
            elif j not in self.faces:
                print("This face is not in the die")
        
        self.die = pd.DataFrame({'face': self.faces,'weights': self.weightslist})
        
    def play_game(self, number_rolls = 1):
        game_results = [self.die.face.sample(weights=self.weightslist).values[0] for i in range(number_rolls)]
        return(game_results)
        
    def display_dice(self):
        print(self.die)

In [2150]:
Testing = Die([2.5,6,'cat'])
Testing.faces
Testing.change_weight('cat',5)
Testing.die

  face  weights
0  2.5        1
1    6        1
2  cat        5

In [2151]:
import unittest
class DieTestSuite(unittest.TestCase):
    def test_1_change_weight(self): 
        # Change a die's weights and confirm that it worked properly
        # add a book and test if it is in `book_list`.
        TestDie1 = Die([1,2,3,4,5,6])
        TestDie1.change_weight(3, 10)
        actual = TestDie1.weightslist
        expected = [1,1,10,1,1,1]
        self.assertEqual(actual, expected)
    
    def test_2_play_game(self):
        TestDie1 = Die([1,2,3,4,5,6])
        TestDie1.change_weight(2,0)
        TestDie1.change_weight(3,0)
        TestDie1.change_weight(4,0)
        TestDie1.change_weight(5,0)
        TestDie1.change_weight(6,0)
        TestDie1.play_game(5)
        actual = TestDie1.play_game(5)
        expected = [1,1,1,1,1]
        self.assertEqual(actual, expected)
        
    def test_3_display_dice(self):
        TestDie1 = Die([1,2,3,4,5,6])
        TestDie1.display_dice()
        actual = TestDie1.die
        expected = {'face':[1,2,3,4,5,6], 'weights': [1,1,1,1,1,1]}

In [2152]:
class Game():
    
    def __init__(self, dice):
        self.dice = dice
        
    def play_the_game(self, n_plays):
        self.n_plays = n_plays
        dice_count = 1
        global dice_names 
        dice_names = []
        global numb_roll 
        numb_roll = []
        global dices 
        dices = {}
        global __games_list 
        __games_list = pd.DataFrame(dices)

        for i in self.dice:
            die_name = 'Die' + str(dice_count)
            dice_names.append(die_name)
            dices[die_name] = []
            dice_count += 1    
   
        c = 0

        for dice_piece in self.dice:
            c += 1
            col = []
            for play in range(self.n_plays):
                die_name = 'Die ' + str(c)
                roll = dice_piece.play_game()
                if c == 1:
                    numb_roll.append(play + 1)
                col.append(roll)

            __games_list[die_name] = col
            __games_list[die_name] = __games_list[die_name].str[0]
        __games_list['Roll Number'] = numb_roll
                
        __games_list.set_index("Roll Number", inplace = True)
        self.games_list = __games_list
        return __games_list
        
    def show_df(self, width = 'W'):
        if width == "N" or width == "W" or width == "":
            dummy_variable = 1
        try:
            dummy_variable 
        except: 
            print('Width must be set to either N (for narrow) or W (for wide). Default is set to wide')

        if width == "W" or width == "":
            return __games_list
        elif width == "N":
            games_narrow = __games_list.stack().to_frame('Face Rolled')
            return games_narrow

In [2153]:
import unittest
class GameTestSuite(unittest.TestCase):
    def test_1_play_the_game_and_show(self): 
        # Play a game and check to see if you get a dataframe in return
        TestDie1 = Die([1])
        TestDie2 = Die([2])
        TestDie3 = Die([3])
        TestGame = Game([TestDie1, TestDie2, TestDie3])
        TestGame.play_the_game(5)
        actual = TestGame.games_list.values.tolist()
        Testdf = pd.DataFrame({'Roll Number':[1,2,3,4,5], 'Die 1': [1,1,1,1,1], 'Die 2': [2,2,2,2,2], 'Die 3':[3,3,3,3,3]})
        Testdf = Testdf.set_index("Roll Number")
        expected = Testdf.values.tolist()
        self.assertEqual(actual, expected)
    
    def test_2_show_df_W(self):
        TestDie1 = Die([1])
        TestDie2 = Die([2])
        TestDie3 = Die([3])
        TestGame = Game([TestDie1, TestDie2, TestDie3])
        TestGame.play_the_game(5)
        actual = TestGame.show_df("W").values.tolist()
        Testdf = pd.DataFrame({'Roll Number':[1,2,3,4,5], 'Die 1': [1,1,1,1,1], 'Die 2': [2,2,2,2,2], 'Die 3':[3,3,3,3,3]})
        Testdf = Testdf.set_index("Roll Number")
        expected = Testdf.values.tolist()
        self.assertEqual(actual, expected)
        
    def test_3_show_df_N(self):
        TestDie1 = Die([1])
        TestDie2 = Die([2])
        TestDie3 = Die([3])
        TestGame = Game([TestDie1, TestDie2, TestDie3])
        TestGame.play_the_game(5)
        actual = TestGame.show_df("N").values.tolist()
        testlist = [[1],[2],[3]]
        expected = testlist * 5
        self.assertEqual(actual, expected)

In [2154]:
MyDie = Die([1,2,3,4,5,6])

In [2155]:
MyDie = Die([1,2,3,4,5,6])
YourDie = Die([2,4,6,8,10,12])
OurDie = Die([3,6,9,12,15,18])

In [2156]:
MyDie.weightslist

[1, 1, 1, 1, 1, 1]

In [2157]:
Dices = Game([MyDie, YourDie, OurDie])

In [2158]:
Test1 = Die([1])
Test2 = Die([2])
Test3 = Die([3])
Test = Game([Test1, Test2, Test3])
Test.play_the_game(5)

             Die 1  Die 2  Die 3
Roll Number
1                1      2      3
2                1      2      3
3                1      2      3
4                1      2      3
5                1      2      3

In [2159]:
Testdf = pd.DataFrame({'Roll Number':[1,2,3,4,5], 'Die 1': [1,1,1,1,1], 'Die 2': [2,2,2,2,2], 'Die 3':[3,3,3,3,3]})
Testdf = Testdf.set_index('Roll Number')
expected = Testdf.values.tolist()
actual = Test.show_df("N").values.tolist()
print(actual)
testlist = [[1],[2],[3]]
testlist * 5

[[1], [2], [3], [1], [2], [3], [1], [2], [3], [1], [2], [3], [1], [2], [3]]

[[1], [2], [3], [1], [2], [3], [1], [2], [3], [1], [2], [3], [1], [2], [3]]

In [2160]:
Dices.play_the_game(1000)

             Die 1  Die 2  Die 3
Roll Number
1                5      8      6
2                5      6     12
3                2      4     18
4                4      6     15
5                3      8     15
...            ...    ...    ...
996              1     10     18
997              2      2      3
998              4      4      3
999              5     10      6
1000             3     10     18

[1000 rows x 3 columns]

In [2161]:
Dices.show_df('N')

                   Face Rolled
Roll Number
1           Die 1            5
            Die 2            8
            Die 3            6
2           Die 1            5
            Die 2            6
...                        ...
999         Die 2           10
            Die 3            6
1000        Die 1            3
            Die 2           10
            Die 3           18

[3000 rows x 1 columns]

In [2162]:
from collections import Counter

class Analyzer():
    
    def __init__(self, played_game):
        self.played_game = played_game
        # Inferring data faces of game used?
    
    def jackpot(self):
        global Play 
        Play = self.played_game.show_df()
        Jackpots = Play.eq(Play.iloc[:, 0], axis=0).all(1)
        Jackpots = Jackpots[Jackpots]
        JackPots_DF = display(Play.loc[Jackpots.index])
        self.jackpots_df = JackPots_DF
        self.number_of_jackpots = len(Jackpots)
        print(self.number_of_jackpots)
        return self.jackpots_df
        
    def combos(self):
        combos_rolls2 = pd.DataFrame(Play.value_counts())
        combos_rolls2.columns =['Number of Occurences']
        combos_rolls2.apply(Counter, axis='columns').value_counts()
        self.combinations = combos_rolls2

    def counts_per_roll(self):
        self.counts_table = Play.apply(pd.Series.value_counts, axis=1).fillna(0)
        return self.counts_table

In [2163]:
Gamez = Analyzer(Dices)

In [2164]:
GAMEZ = Gamez.jackpot()

             Die 1  Die 2  Die 3
Roll Number
111              6      6      6
300              6      6      6
316              6      6      6
480              6      6      6
481              6      6      6
633              6      6      6
959              6      6      6

7

In [2165]:
Dices.show_df()

             Die 1  Die 2  Die 3
Roll Number
1                5      8      6
2                5      6     12
3                2      4     18
4                4      6     15
5                3      8     15
...            ...    ...    ...
996              1     10     18
997              2      2      3
998              4      4      3
999              5     10      6
1000             3     10     18

[1000 rows x 3 columns]

In [2166]:
Gamez.combos()
Gamez.combinations

                   Number of Occurences
Die 1 Die 2 Die 3
5     10    6                        14
3     8     15                       10
2     6     12                       10
      8     18                        9
3     12    15                        9
...                                 ...
4     2     9                         1
6     4     9                         1
1     10    15                        1
2     12    3                         1
3     2     6                         1

[214 rows x 1 columns]

In [2167]:
Gamez.counts_per_roll()

              1    2    3    4    5    6    8    9    10   12   15   18
Roll Number
1            0.0  0.0  0.0  0.0  1.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0
2            0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0
3            0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
4            0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0
5            0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0
...          ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
996          1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0
997          0.0  2.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
998          0.0  0.0  1.0  2.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
999          0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0
1000         0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0

[1000 rows x 12 columns]